body { background: #d2c027; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 44px; display: flex; }
.block-sms-0 { color: #a6992d; font-size: 18px; margin-bottom: 5px; }
.block-filter-1 { color: #25dc26; font-size: 14px; margin-bottom: 5px; }
.block-search-2 { color: #2f18bf; font-size: 12px; margin-bottom: 5px; }
.block-metrics-3 { color: #78dff3; font-size: 19px; margin-bottom: 5px; }
.block-database-4 { color: #8002ee; font-size: 20px; margin-bottom: 5px; }